<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">


                    </div>
                    {if condition="session('user')['remark'] eq 1"}

                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->





                        <li class="active-link">
                            <a href="{:url('Admin/Index/index')}">
                                <i class="demo-psi-home"></i>
                                <span class="menu-title">
                                                <strong>后台首页</strong>
                                            </span>
                            </a>
                        </li>


                        {if condition="$c eq 'Staff'" }
                        <li class="active">
                            <a href="#" aria-expanded="true">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>个人中心</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>


                            <ul class="collapse in" aria-expanded="true">

                                <li><a href="{:url('Admin/Staff/index')}">个人基本资料</a></li>
                                <li><a href="{:url('Admin/Staff/my_center')}">个人基本修改</a></li>
                                <li><a href="{:url('Admin/Staff/my_salary')}">个人薪资</a></li>
                            </ul>
                        </li>
                        {else /}
                        <li>
                            <a href="#">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>个人中心</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>


                            <ul class="collapse">
                                <li><a href="{:url('Admin/Staff/index')}">个人基本资料</a></li>
                                <li><a href="{:url('Admin/Staff/my_center')}">个人基本修改</a></li>
                                <li><a href="{:url('Admin/Staff/my_salary')}">个人薪资</a></li>
                            </ul>
                        </li>
                        {/if}


                        {if condition="$c eq 'Admin'" }
                        <li class="active">
                            <a href="#" aria-expanded="true">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>员工信息</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>


                            <ul class="collapse in" aria-expanded="true">
                                <li><a href="{:url('admin/ad_list')}">公司员工</a></li>
                                <li><a href="{:url('Admin/admin/index')}">未审核员工信息</a></li>
                                <li><a href="{:url('Admin/admin/check_index')}">审核过员工信息</a></li>
                                <li><a href="{:url('Admin/admin/user_pay')}">员工调薪</a></li>
                                <li><a href="{:url('Admin/User/add_user')}">新增员工</a></li>
                            </ul>
                        </li>
                        {else /}
                        <li>
                            <a href="#">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>员工信息</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>

                            <ul class="collapse ">
                                <li><a href="{:url('admin/ad_list')}">公司员工</a></li>
                                <li><a href="{:url('Admin/admin/index')}">未审核员工信息</a></li>
                                <li><a href="{:url('Admin/admin/check_index')}">审核过员工信息</a></li>
                                <li><a href="{:url('Admin/admin/user_pay')}">员工调薪</a></li>
                                <li><a href="{:url('Admin/User/add_user')}">新增员工</a></li>

                            </ul>
                        </li>
                        {/if}

                        {if condition="$c eq 'Project'"}
                        <li class="active">
                            <a href="#" aria-expanded="true">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>项目信息</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>

                            <ul class="collapse in" aria-expanded="true">
                                <li><a href="{:url('Admin/project/index')}">项目基本信息</a></li>
                                <li><a href="{:url('Admin/project/add')}">添加项目信息</a></li>

                            </ul>
                        </li>
                        {else /}
                        <li>
                            <a href="#">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>项目信息</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>


                            <ul class="collapse ">
                                <li><a href="{:url('Admin/project/index')}">项目基本信息</a></li>
                                <li><a href="{:url('Admin/project/add')}">添加项目信息</a></li>

                            </ul>
                        </li>
                        {/if}


                        {if condition="$c eq 'Rule'"}

                        <li class="active">
                            <a href="#" aria-expanded="true">
                                <i class="demo-psi-gear-2"></i>
                                <span class="menu-title">
                                                <strong>权限控制</strong>

                                            </span>
                                <i class="arrow"></i>
                            </a>

                            <ul class="collapse in" aria-expanded="true">
                                <li><a href="{:url('Admin/Rule/rule_list')}">权限管理</a></li>
                                <li><a href="{:url('Admin/Rule/rule_group')}">角色管理</a></li>
                                <li><a href="{:url('Admin/User/index')}">用户管理</a></li>
                            </ul>
                        </li>
                        {else /}
                        <li>
                            <a href="#">
                                <i class="demo-psi-gear-2"></i>
                                <span class="menu-title">
                                                <strong>权限控制</strong>

                                            </span>
                                <i class="arrow"></i>
                            </a>

                            <ul class="collapse">
                                <li><a href="{:url('Admin/Rule/rule_list')}">权限管理</a></li>
                                <li><a href="{:url('Admin/Rule/rule_group')}">角色管理</a></li>
                                <li><a href="{:url('Admin/User/index')}">用户管理</a></li>
                            </ul>
                        </li>
                        {/if}
                        <li>
                            <a href="#">
                                <i class="demo-psi-gear-2"></i>
                                <span class="menu-title">
                                                <strong>基本设置</strong>

                                            </span>
                                <i class="arrow"></i>
                            </a>

                            <ul class="collapse">
                                <li><a href="{:url('Admin/Depart/depart_list')}">部门管理</a></li>
                                <li><a href="{:url('Admin/Position/position_list')}">职位管理</a></li>
                                <li><a href="{:url('Admin/User/index')}">用户管理</a></li>
                            </ul>
                        </li>



                        {else /}
                        <ul id="mainnav-menu" class="list-group">
                        {foreach name="menu" item="vo"}

                        <li <?php $arr=explode('/',$vo['name']);$pcon=$arr[1];if($pcon==$c){echo 'class="active"';}?>>
                            <a href="#" aria-expanded="true">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                                <strong>{$vo.title}</strong>
                                            </span>
                                <i class="arrow"></i>
                            </a>


                            <ul class="collapse in" aria-expanded="true">
                                {foreach name="vo['children']" item="vo2"}
                                <li<?php if($name==$vo2['name']){echo 'class="active"';}?>>
                                <a href="{:url($vo2.name)}"> {$vo2.title}
                                </a>
                                </li>
                                {/foreach}
                            </ul>
                        </li>
                        {/foreach}
                    </ul>

                    <div class="mainnav-widget">

                        <!-- Show the button on collapsed navigation -->
                        <div class="show-small">
                            <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                                <i class="demo-pli-monitor-2"></i>
                            </a>
                        </div>

                        <!-- Hide the content on collapsed navigation -->

                    </div>
                    <!--================================-->
                    <!--End widget-->
                    {/if}
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>