<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未审核员工信息</title>

{include file='layout/top' /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
         {include file='layout/header' /}  
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                
                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <!-- <h1 class="page-header text-overflow">Data Tables</h1>

                    <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div> -->
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="{:url('Admin/Index/index')}">首页</a></li>
                    <li>员工信息</li>
                    <li class="active">未审核员工信息</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->


        

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    
                    <!-- Basic Data Tables -->
                    <!--===================================================-->
                    <div class="panel">
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    <div class="col-sm-6 table-toolbar-left">
                                        <a href="{:url('Admin/User/add_user')}"><button id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-plus"></i> 增加员工</button></a>

                                    </div>
                                    <div class="col-sm-6 table-toolbar-right">
                                        <div class="form-group">
                                            <input id="demo-input-search2" type="text" placeholder="搜索" class="form-control" autocomplete="off" name="keyword"
                                            >
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-default"><i class="demo-pli-download-from-cloud"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID编号</th>
                                        <th>姓名</th>
                                        <th>职位</th>
                                        <th>联系方式</th>
                                        <th>所在地区公司</th>
                                        <th>是否审核</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="data" id="vo"}
                                    <tr>
                                        <td><a class="btn-link" href="#"> {$vo.id}</a></td>
                                        <td>{$vo.username}</td>
                                        <td><span class="text-muted"> {if condition="$vo['position'] eq ''"}暂未安排工作{else/}{$vo.position}{/if}</span></td>
                                        <td>{$vo.mobile}</td>
                                        <td>
                                            <div>{if condition="$vo['company'] eq 0"}暂未安排公司{else /}{$vo.company}{/if}</div>
                                        </td>
                                        <td class="">{if condition="$vo['status'] eq 2"}审核{else /}未审核{/if}</td>
                                        <td>

                                            <a href="{:url('detail',array('id'=>$vo['id']))}" class="btn btn-primary">
                                             详情
                                            </a>

                                            <a id="{$vo.id}" onclick="changestatus(this);" href="" class="btn btn-info">
                                              审核
                                            </a>

                                            <a  id="{$vo.id}" class="btn btn-danger btn-sm shiny"   href="javascript:" onclick="deletestaff(this);">删除
                                            </a>

                                        </td>
                                    </tr>
                                    {/volist}



                                    </tbody>
                                </table>
                            </div>
                            {$data->render()}
                        </div>
                    </div>
                    <script>
                        function deletestaff(o){
                            var $id=$(o).attr("id");
                            if(confirm('确认要删除吗?')){
                                $.ajax({
                                    url:"{:url('Admin/delete_user')}",
                                    data:{'id':$id},
                                    type:'post',
                                    dataType:'json',
                                    success:function(msg){
                                        if(msg.status==1000){
                                            alert('删除成功!');
                                            location.href='{:url('Admin/admin/index')}';
                                        }else{
                                            alert('删除失败!');
                                        }
                                    }
                                });
                            }

                        }
                    </script>
                    <script>


                        //ajax异步修改栏目显示状态
                        function changestatus(o){
                            var $id=$(o).attr("id");

                            $.ajax({
                                type:"post",
                                dataType:"json",
                                data:{'id':$id},
                                url:"{:url('Admin/changestatus')}",
                                success:function(data){
                                    if(data==1){
                                        alert('审核成功')
                                    }else{
                                        alert('审核失败')
                                    }
                                }
                            });
                        }
                    </script>
                    <!--===================================================-->
                    <!-- End Striped Table -->
                    
                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
          
                
          {include file="layout/left" /}

        </div>

        
        {include file="layout/footer" /}
    
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    
        <!-- SETTINGS - DEMO PURPOSE ONLY -->
    <!-- END SETTINGS -->

    <div class="modal fade" id="thinkright-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                 

                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

    
   

    <!-- 调整薪资模态框开始 -->
    <div class="modal fade" id="thinkright-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        调整薪资
                    </h4> 
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{:url('Admin/Admin/adjust')}" method="post">
                        <div class="panel-body">
                            <!-- <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">当前的职位</label>
                                <div class="col-sm-9">
                                   
                                    <input type="text"  id="demo-hor-inputemail" class="form-control" name="title" required="required">
                                </div>
                            </div> --> 
                            <input type="hidden" name="id">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">调整的薪资</label>
                                <div class="col-sm-9">
                                  
                                    <input type="text" placeholder="500" id="demo-hor-inputemail" class="form-control" name="adjust_salary" required="required">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">调整后的总薪资</label>
                                <div class="col-sm-9">
                                  
                                    <input type="text" placeholder="5555500" id="demo-hor-inputemail" class="form-control" name="salary" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">调整的原因</label>
                                <div class="col-sm-9">
                                
                                    <input type="text" placeholder="加班工资" id="demo-hor-inputemail" class="form-control" name="adjust_reason" required="required">
                                </div>
                            </div>
                           
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">调整</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加项目模态框结束 -->


    <script type="text/javascript">
        
     
        // 修改菜单
        function edit(obj){
            var ruleId=$(obj).attr('ruleId');
            var ruletitle=$(obj).attr('ruletitle');
            var ruleName=$(obj).attr('ruleName');
            $("input[name='id']").val(ruleId);
            $("input[name='title']").val(ruletitle);
            $("input[name='name']").val(ruleName);
            $('#thinkright-edit').modal('show');
        }
    </script>    
</body>
</html>
